# Layout of the live image (what you'd dd to a USB stick).
# Partition UUIDs are fixed so the live grub.cfg can find its root.

image efi-part.vfat {
	vfat {
		label = "MYDISTRO"
		file EFI {
			image = "efi-part/EFI"
		}
		file Image {
			image = "Image"
		}
	}
	size = 64M
}

image live.img {
	hdimage {
		partition-table-type = "gpt"
		disk-uuid = "6d79646f-0000-4000-8000-000000000000"
	}

	partition esp {
		image = "efi-part.vfat"
		partition-type-uuid = U
		partition-uuid = "6d79646f-0000-4000-8000-000000000001"
		offset = 1M
		bootable = true
	}

	partition root {
		# "Linux root (ARM-64)" from the Discoverable Partitions Spec
		partition-type-uuid = b921b045-1df0-41c3-af44-4c6f280d3fae
		partition-uuid = "6d79646f-0000-4000-8000-000000000002"
		image = "rootfs.ext4"
	}
}
